body {
    background: #F5F5F5;
    color :#757575 ;
}
.list {
list-style: none ;
}

/* основной цвет текста #757575 */
/* вторичній цвет текста #212121*/
/*  белій #FFFFFF */
/*акцент #2196F3 */
/*цвет ссілок в футере rgba(255, 255, 255, 0.6); */
/* цвет background секции hero и футера #2F303A*/
/* основной цвет background секции #F5F5F5  */


/* цвет фона header белій*/
.roof {
background:  #FFFFFF
}
/* стилизация логотипа */
.roof-logo {
    color:#2196F3;
}
.roof-multi{
    color: #000;
}
/* стилизация nav */
.roof-nav-link {
    color: #212121;
}
.roof-nav-link:hover,
.roof-nav-link:focus {
    color:#2196F3;
}
/* стилизация connection */
.roof-connection-link{
    color:#757575 ;
}
.roof-connection-link:hover,
.roof-connection-link:focus {
color: #2196F3;
}
/*стилизация заглавий вторичнім цветом текста */
.sechion-title {
  color: #212121;  
}
.hero {
background:#2F303A
}
.hero-title {
 color: #FFFFFF;   
}