/* основной цвет текста #757575 */
/* вторичній цвет текста #212121*/
/*  белій #FFFFFF */
/*акцент #2196F3 */
/*цвет ссілок в футере rgba(255, 255, 255, 0.6); */
/* цвет background секции hero и футера #2F303A*/
/* основной цвет background секции #F5F5F5  */

:root {
    --primary-text-color : #757575 ;
    --title-text-color : #212121 ;
    --accent-color : #2196F3 ;
    --white-coior : #FFFFFF ;
    --black-color : #000 ;
    --footer-text-color : rgba(255, 255, 255, 0.6) ;
    --primary-background-color : #F5F5F5;
    --secondary-background-color: #2F303A ;       
}

body {
    background-color: var(--primary-background-color);
    color : var(--primary-text-color) ;
    font-family: roboto , sans-serif ;
    letter-spacing: 0.03em;
}
.list {
list-style: none ;
}

/* цвет фона header белій*/
.roof {
background: var(--white-coior) ;
}
/* стилизация логотипа */
.roof-logo {
    color: var(--accent-color) ;
    text-decoration: none;
    font-family: Raleway , sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
}
.roof-multi{
    color: var(--black-color) ;
}
/* стилизация nav */
.roof-nav-link {
    color: var(--title-text-color) ;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
}
.roof-nav-link:hover,
.roof-nav-link:focus {
    color: var(--accent-color) ;
}
/* стилизация connection */
.roof-connection-link{
    color: var(--primary-text-color) ;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14 ;
    letter-spacing: 0.02em
}
.roof-connection-link:hover,
.roof-connection-link:focus {
color: var(--accent-color);
}
/*стилизация заглавий вторичнім цветом текста */
.sechion-title {
  color: var(--title-text-color);  
}
.hero {
background: var(--secondary-background-color) ;
}
.hero-title {
 color: var(--white-coior) ;
 font-weight: 900;
 font-size: 44px;
 line-height: 1,36;
 text-align: center;
 letter-spacing: 0.06em
}
.footer{
 background: var(--secondary-background-color) ; 
 
}
.footer-logo {
  color: var(--white-coior);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1,19;
}
  
.footer-multi {
  color: var(--accent-color);  
}
.contacts-addres {
  color: var(--white-coior); 
  text-decoration: none;
}
.contacts-link {
  color: var(--footer-text-color); 
  text-decoration: none;
}
.button {
 color: var(--white-coior);
 background-color: var(--accent-color);   
}